extends ../layout
include ../includes/mixins.jade


block content
  // main container 
  div.container
    div.row
      // left side of page 
      div.col-md-12(id=gene.symbol)
        // Gene title block 
        div.row
          div.col-md-4
            h1(id="GeneTitle") #{gene.symbol} 
              p(style='font-size:15px') #{gene.description}
          div.col-md-6 
        div#stuffing
        // tabs 
        div.row 
          // General Tabs 
          ul.col-md-11.nav.nav-tabs(id="geneTab")
            li.nav-item.active(role='general')
              a.nav-link(data-toggle='tab' href='#generalInfo') Main
            //- if(variant,length !==0)
            //-   li.nav-item(role='variantTab')
            //-     a.nav-link(data-toggle='collapse' href = '#variantTab' aria-expanded="false" aria-controls="variantTab" id="variantTabControl") Variants
            if(pdbInfo.length !== 0)
              li.nav-item(role='pview')
                a.nav-link(data-toggle='modal' data-target='#pviewer' href="#") 3D viewer
                // pview modal 
                div.modal.bd-example-modal-lg.fade(id='pviewer' role="dialog" tabindex="-1" aria-labelledby="pviewerLabel" aria-hidden='true')
                  div.modal-dialog(role='document')
                    div.modal-content
                      div.modal-header 
                        button.close(type='button' data-dismiss="modal" aria-label='Close')
                          span(aria-hidden="true") &times
                        h4.modal-title(id="pviewerLabel") 3D viewer 
                      div.modal-body 
                        div.panel.panel-default
                          div.panel-body(id='pv')
                      div.modal-footer 
                        button.btn.btn-primary(type='button' data-dismiss="modal"  style="background-color: white") Close 
                        div.dropup(style="float:left") 
                          button.btn.btn-primary.dropdown-toggle(type="button", id="pdbDropdown" data-toggle="dropdown" aria-haspopup="true", aria-expanded="true" style="background-color: white") Structures
                          ul.dropdown-menu(aria-labelledby="pdbDropdown")
                            for pdb_id in pdbInfo
                              li 
                                a.pdb-ajax-link(id=pdb_id.PDB_ID href="#")=pdb_id.PDB_ID
            li.nav-item 
              a.nav-link(href="#variantTable") Variants
          // download and help icons
          div.col-md-1 
            div(style='margin-top:20px')
              a(style='float:left' href='/gene/' + gene.symbol + '/download') 
                i.fa.fa-download(id="downloadData" style="font-size:18px" aria-hidden="true")
              a(style='float:right' id="showToolTip" href='#GeneTitle') 
                i.fa.fa-question(style="font-size:18px" aria-hidden="true")
        div#stuffing
        div#stuffing
        // tab contents 
        div.tab-content
          // main contents 
          div.tab-pane.active.in.fade(id="generalInfo")
            div.row
              // wild type allele info 
              dl.col-md-4.dl-horizontal(id='wildtype_cardbox')
                div.showToolTip(data-toggle="tooltip" data-placement='right' title="Link outs and summary information") 
                each l in Object.keys(gene.links)
                  if gene.links[l].display  
                    dt= l
                    dd
                      if "link" in gene.links[l]
                        a(href = gene.links[l].link style="float:left" target="_blank")=gene.links[l].display  
                          i.fa.fa-external-link(style="font-size:12px" aria-hidden='true') 
                      else 
                        p(style="text-align:left")= gene.links[l].display
            
              // protein domain graph 
              div.col-md-7(id='protein-domain-graph')
                div.showToolTip(data-toggle="tooltip" title="Amino acid mutation mapped linearly to Pfam domains, try clicking on the needle heads") 
            // experimental data 
            hr
            div.row(id="experimentalData")
              div#stuffing
              // radar Chart for LUMIER chaperone intearctions  
              div.col-md-3
                - if (radarChartData.length !== 0){
                  div.panel.panel-default
                    h5.showToolTip(data-toggle="tooltip" title="LUMIER assay measuring variant-chaperone interaction, an indicator of protein instability") Chaperone interactions
                    div(id='lumier-interaction')
                - } else {
                  div(id='lumier-interaction')
                - }
              // expression boxplot of variants in the LUMIER experiments 
              div.col-md-3
                - if (expressionChartData.length !== 0){
                  div.panel.panel-default
                    h5.showToolTip(data-toggle="tooltip" title="Expression level of variants in the context of LUMIER assay") Expression (ELISA) 
                    div(id='elisa-expression')
                - } else {
                  div(id='elisa-expression')
                - }
              // force directed graph of wild-type/variants interactors derived from Y2H
              div.col-md-3
                - if (y2hChartData.nodes.length !== 0){
                  div.panel.panel-default
                    h5.showToolTip(data-toggle="tooltip" title="Binary interaction profile: orange nodes/edges represent a loss of interaction with respect to wild-type allele") Y2H Interactors
                    div(id='y2h-interaction')
                - } else {
                  div(id='y2h-interaction')
                - }
              div.col-md-3
                div(id='y2h-interaction-mut')
            hr
            div.row.panel.panel-default
              table.table.table-bordered.display.responsive.nowrap(id='variantTable' cellspacing="0" width: "100%")
                thead
                  tr 
                    th #
                    for headings in Object.keys(variantInfo[0].links)
                      th=headings
                    th Elaspic
                tbody
                  for d in variantInfo
                    tr.variantRow(id=d.symbol + '_row') 
                      td= d.symbol
                      each l in Object.keys(d.links)
                        td 
                          if "link" in d.links[l] 
                            a(href = d.links[l].link style="float:left" target="_blank")=d.links[l].display  
                          else 
                            p=d.links[l].display  
                            
                      td 
                        a(href = 'http://elaspic.kimlab.org/result/taipale/' + gene['uniprot_id'] + '.' + d.symbol style="float:left" target="_blank")=gene['uniprot_id'] + '.' + d.symbol
                          //- if "link" in d.links[l] 
                          //-   -if(d.links[l].display !== "" && d.links[l].display !== null){
                          //-     a(href = d.links[l].link style="float:left" target="_blank")=d.links[l].display 
                          //-   -} else { 
                          //-     p N/A
                          //-   -}
                          //- else 
                          //-   -if(d.links[l].display !== "" && d.links[l].display !== null){
                          //-     p=d.links[l].display 
                          //-   -} else { 
                          //-     p N/A
                          //-   -}
                  
                    
                    
            
            
      // side bar 
      //- nav.col-md-2.bs-docs-sidebar.hidden-print(id='target_nav')
      //-   ul.nav.nav-stacked.bs-docs-sidenav.fixed(id="sidebar")
      //-     +nav_item("#" + gene.symbol) Gene
      //-       ul.nav.nav-stacked(id="sidebar")
      //-         +nav_item("#GeneDescription") Info
      //-         +nav_item("#experimentalData") Experimental Data
      //-     +nav_item("#VariantListing") Variants 
      //-       ul.nav.nav-stacked(id="sidebar")
      //-         - for item in variant
      //-           +nav_item("#" + item.MUT_HGVS_AA + '_cardbox') #{item.MUT_HGVS_AA}

prepend script 
  script(type='text/javascript').
    var gene =!{JSON.stringify(gene)}
    var variant =!{JSON.stringify(variant)}
    var domainChartData =!{JSON.stringify(domainChartData)}
    var radarChartData =!{JSON.stringify(radarChartData)}
    var expressionChartData =!{JSON.stringify(expressionChartData)}
    var y2hChartData = !{JSON.stringify(y2hChartData)}
    var variantInfo =!{JSON.stringify(variantInfo)}
    var pdbInfo =!{JSON.stringify(pdbInfo)}

    
prepend script         
  script(src='/bio-pv.min.js', type="text/javascript")
  script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js', type='text/javascript')
  script(src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js', type='text/javascript')
  scirpt(src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js', type='text/javascript')
  script(src='https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js', type='text/javascript')
  link(href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css', rel='stylesheet')
  link(href='https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css', ref='stylesheet')

  
