extends ../layout
include ../includes/mixins.jade


block content
  // main container 
  div.container
    div.row
      // left side of page 
      div.col-md-10(id=gene.symbol)
        // Gene title block 
        div.row
          div.col-md-4
            h1(id="GeneTitle") #{gene.symbol} 
              p(style='font-size:15px') #{gene.description}
          div.col-md-6 
        div#stuffing
        // tabs 
        div.row 
          // General Tabs 
          ul.col-md-11.nav.nav-tabs(id="geneTab")
            li.nav-item.active(role='general')
              a.nav-link(data-toggle='tab' href='#generalInfo') General Info 
            li.nav-item(role='variantTab')
              a.nav-link(data-toggle='collapse' href = '#variantTab' aria-expanded="false" aria-controls="variantTab" id="variantTabControl") Variants
            li.nav-item(role='pview')
              a.nav-link(data-toggle='tab' href='#pv') 3D viewer
            // Variant tabs 
            ul.collapse.nav.nav-tabs(id="variantTab")
              li.nav-item
                a.nav-link(data-toggle='tab' href="#wildtype_cardbox") 
                  small.text-muted #{gene.symbol}
              - for item in variant
                li.nav-item 
                  a.nav-link(data-toggle='tab' href="#" + item.MUT_HGVS_AA + "_cardbox") 
                    small.text-muted(style='font-size:11px') #{item.MUT_HGVS_AA}     
          // download and help icons
          div.col-md-1 
            div(style='margin-top:20px')
              a(style='float:left' href='#') 
                i.fa.fa-download(id="downloadData" style="font-size:18px" aria-hidden="true")
              a(style='float:right' id="showToolTip" href='#GeneTitle') 
                i.fa.fa-question(style="font-size:18px" aria-hidden="true")
        div#stuffing
        div#stuffing
        // tab contents 
        div.tab-content
          // main contents 
          div.tab-pane.active.in.fade(id="generalInfo")
            div.row.tab-content
              // wild type allele info 
              dl.col-md-5.dl-horizontal.tab-pane.active.in.fade(id='wildtype_cardbox')
                div.showToolTip(data-toggle="tooltip" data-placement='right' title="Link outs and summary information") 
                each l in Object.keys(gene.links)
                  if gene.links[l].display  
                    dt= l
                    dd
                      if "link" in gene.links[l]
                        a(href = gene.links[l].link style="float:left")=gene.links[l].display  
                          i.fa.fa-external-link(style="font-size:12px" aria-hidden='true') 
                      else 
                        p(style="text-align:left")= gene.links[l].display
              // variant info 
              for d in variantInfo
                div.col-md-5.tab-pane.fade(id=d.symbol + "_cardbox") 
                  dl.dl-horizontal
                    each l in Object.keys(d.links)
                      if d.links[l].display  
                        dt= l
                        dd
                          if "link" in d.links[l]
                            a(href = d.links[l].link style="float:left")= d.links[l].display   
                              i.fa.fa-external-link(style="font-size:12px" aria-hidden='true') 
                          else 
                            p(style="text-align:left")= d.links[l].display
              // protein domain graph 
              div.col-md-7(id='protein-domain-graph')
                div.showToolTip(data-toggle="tooltip" title="Amino acid mutation mapped linearly to Pfam domains, try clicking on the needle heads") 
            // experimental data 
            div.row(id="experimentalData")
              div#stuffing
              // radar Chart for LUMIER chaperone intearctions  
              div.col-md-4
                - if (radarChartData.length !== 0){
                  div.panel.panel-default
                    h5.showToolTip(data-toggle="tooltip" title="LUMIER assay measuring variant-chaperone interaction, an indicator of protein instability") Chaperone interactions
                    div(id='lumier-interaction')
                - } else {
                  div(id='lumier-interaction')
                - }
              // expression boxplot of variants in the LUMIER experiments 
              div.col-md-4
                - if (expressionChartData.length !== 0){
                  div.panel.panel-default
                    h5.showToolTip(data-toggle="tooltip" title="Expression level of variants in the context of LUMIER assay") Expression (ELISA) 
                    div(id='elisa-expression')
                - } else {
                  div(id='elisa-expression')
                - }
              // force directed graph of wild-type/variants interactors derived from Y2H
              div.col-md-4
                - if (y2hChartData.nodes.length !== 0){
                  div.panel.panel-default
                    h5.showToolTip(data-toggle="tooltip" title="Binary interaction profile: orange nodes/edges represent a loss of interaction with respect to wild-type allele") Y2H Interactors
                    div(id='y2h-interaction')
                - } else {
                  div(id='y2h-interaction')
                - }
          // 3D protein structure viewer
          div.tab-pane.fade(id='pv')
      // side bar 
      nav.col-md-2.bs-docs-sidebar.hidden-print(id='target_nav')
        ul.nav.nav-stacked.bs-docs-sidenav.fixed(id="sidebar")
          +nav_item("#" + gene.symbol) Gene
            ul.nav.nav-stacked(id="sidebar")
              +nav_item("#GeneDescription") Info
              +nav_item("#experimentalData") Experimental Data
          +nav_item("#VariantListing") Variants 
            ul.nav.nav-stacked(id="sidebar")
              - for item in variant
                +nav_item("#" + item.MUT_HGVS_AA + '_cardbox') #{item.MUT_HGVS_AA}

prepend script 
  script(type='text/javascript').
    var gene =!{JSON.stringify(gene)}
    var variant =!{JSON.stringify(variant)}
    var domainChartData =!{JSON.stringify(domainChartData)}
    var radarChartData =!{JSON.stringify(radarChartData)}
    var expressionChartData =!{JSON.stringify(expressionChartData)}
    var y2hChartData = !{JSON.stringify(y2hChartData)}
    var variantInfo =!{JSON.stringify(variantInfo)}

    
    
prepend script         
  script(src='/bio-pv.min.js', type="text/javascript")
  
  
