extends ../layout
include ../includes/mixins.jade


block content
  div.container
    div.row
      div.col-md-10.col-xs-10
        h1(id="GeneInfo") #{gene[0].HUGO_GENE_SYMBOL} 
        hr
        div.row
          dl.dl-horizontal.col-md--6
            dt(id='GeneDescription') Description
            dd #{gene[0].DESCRIPTION}
            dt(id="EntrezLink") Entrez 
            dd
              a(href = 'http://www.ncbi.nlm.nih.gov/gene/' + gene[0].ENTREZ_GENE_ID) #{gene[0].ENTREZ_GENE_ID} 
            dt(id="EnsemblLink") Ensembl 
            dd 
              a(href = 'http://useast.ensembl.org/Homo_sapiens/Gene/Summary?g=' + gene[0].ENSEMBL_GENE_ID) #{gene[0].ENSEMBL_GENE_ID}
            dt(id="UniprotLink") Uniprot
            dd
              a(href = 'http://www.uniprot.org/uniprot/' + gene[0].UNIPROT_SWISSPROT_ID) #{gene[0].UNIPROT_SWISSPROT_ID}
            dt(id="OmimLink") Omim
            dd
              a(href = 'http://www.omim.org/entry/' + gene[0].OMIM_ID) #{gene[0].OMIM_ID}
        hr
        div(id="VariantListing")
          - for item in gene 
            - var MUT_HGVS_AA = item['MUT_HGVS_AA_ID'].split('.').pop(-1)
            div.panel.panel-default(id=item.MUT_HGVS_NT_ID) 
              div.panel-heading.text-left  
                a(href = '/variant/' + item.MUT_HGVS_NT_ID) #{MUT_HGVS_AA}
              //- div.panel-body 
              table.table.table-hover
                thread
                  tr
                    th.text-center cDNA mutation
                    th.text-center Protein mutation
                    th.text-center Chromosome position
                    th.text-center Allele Frequency
                tbody.text-center
                  tr 
                    td= item.MUT_HGVS_NT_ID
                    td= item.MUT_HGVS_AA_ID
                    td= item.CHR_COORDINATE_HG19
                    td= item.EXAC_ALLELE_FREQUENCY
      nav.col-md-2.bs-docs-sidebar.hidden-print(id='target_nav')
        ul.nav.nav-stacked.bs-docs-sidenav.fixed(id="sidebar")
          +nav_item("#GeneInfo") Gene
            ul.nav.nav-stacked(id="sidebar")
              +nav_item("#GeneDescription") Description
              +nav_item("#EntrezLink") Entrez
              +nav_item("#EnsemblLink") Ensembl 
              +nav_item("#UniprotLink") Uniprot 
              +nav_item("#OmimLink") Omim
          +nav_item("#VariantListing") Variants 
            ul.nav.nav-stacked(id="sidebar")
              //- - each item in gene 
              //-   +nav_item("#"+ item.MUT_HGVS_NT_ID) #{item.MUT_HGVS_NT_ID} 
              

//- , data-spy="affix", data-offset-top="200"
