
div.col-md-2
div.col-md-8
  - if(Object.keys(list).length === 0 && list.constructor === Object){
    div.panel.panel-warning 
      div.panel-heading Warning
      div.panel-body Empty query result
  - } else{
    div.panel.panel-success
      div.panel-heading Success
      div.panel-body 
        table.table.table-ordered
          thead
            tr
              th.text-center #
              th.text-center Gene
              th.text-center Variants
          tbody.text-center
            each gene, index in Object.keys(list)
              tr 
                th(scope="row", rowspan=list[gene].length)=index+1
                td(rowspan=list[gene].length)
                  a(href = '/gene/' + gene)= gene
                td 
                  a(href = '/variant/' + list[gene][0])= list[gene][0]
              -if (list[gene].length > 1){
                each variant, index in list[gene]
                  if index == 0
                  else
                    tr 
                      td
                        a(href = '/variant/' + list[gene][index])= variant
              -}
  - } 
    
div.col-md-2
    
    
script(type='text/javascript').
   var list =!{JSON.stringify(list)}
