

div.panel.panel-success
  div.panel-heading(id='VariantBoxTitle')  #{variantInfo.symbol}
  div.panel-body 
    div.row 
      dl.dl-horizontal.col-md-6
        each l in Object.keys(variantInfo.links)
          if variantInfo.links[l].display  
            dt= l
            dd
              if "link" in variantInfo.links[l]
                a(href = variantInfo.links[l].link style="float:left")= variantInfo.links[l].display 
              else 
                p(style="text-align:left")= variantInfo.links[l].display
      div.col-md-6
div#stuffing 
div#stuffing 
  
script(type='text/javascript').
   var variantInfo =!{JSON.stringify(variantInfo)}
   
   
